#loader {
    width: 100px;
    height: 100px;
    border: 7px solid #6757d9;
    border-bottom-color: transparent;
    border-top-color: transparent;
    border-radius: 50%;
    display: inline-block;
    animation: rotation 1.5s linear infinite;
} 

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg );
    }
}